<mat-card>
    <form (submit)="onSavePost(createPost)" #createPost="ngForm">
        <mat-form-field>
            <input matInput type="text" name="postTitle" placeholder="Post title" [ngModel]='post?.title' required #title>
            <mat-error *ngIf="title">Please enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea rows="6" matInput name="postContent" placeholder="Post content" [ngModel]='post?.content' required #content></textarea>
            <mat-error *ngIf="content">Please enter a post content</mat-error>
        </mat-form-field>
        <button mat-raised-button class="btn btn-primary" type="submit">Submit</button>
    </form>
</mat-card>